name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    # CAMBIO 1: Usamos ubuntu-22.04 porque es más estable para Android que la última versión
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            git \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libffi-dev \
            libssl-dev \
            automake \
            autoconf \
            libtool \
            libtool-bin \
            pkg-config \
            cmake

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install --user --upgrade Cython==0.29.33 virtualenv
          pip install --user --upgrade buildozer

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          yes | buildozer android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
